@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-styling() {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "<%= fontName %>";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  line-height: inherit;
}

.<%= className %>{
  &:before { .font-styling(); }
}

.after {
  &:after { .font-styling(); }
  &:before { content: none; }
}

.<%= className %>(@class, @element: before){
  &:@{element} {
    & when (@element = before) { &:extend(.gfx:before all); }
    & when (@element = after) { &:extend(.after:after, .after:before); }

    <% _.each(glyphs, function(glyph) { %>& when (@class = <%= glyph.name %>){ content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
    <% }); %>
  }
}

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>

<% _.each(glyphs, function(glyph) { %>.after.<%= className %>-<%= glyph.name %>:after { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>